{:pods {clj-kondo/clj-kondo {:version "2022.02.09"}}
 :deps {io.github.borkdude/quickdoc
        #_{:local/root "../../quickdoc"}
        {:git/sha "2e1999ee20a24a5a923b306fad2f8e243f551168"}}

 :tasks
 {quickdoc {:doc "Invoke quickdoc"
            :requires ([quickdoc.api :as api])
            :task (api/quickdoc {:git/branch "master"
                                 :github/repo "https://github.com/babashka/process"
                                 :toc true
                                 :var-links true})}
  test {:doc "Run tests"
        :task (shell "script/test")}}}
