{:pods {clj-kondo/clj-kondo {:version "2022.02.09"}}
 :deps {io.github.borkdude/quickdoc
        {:local/root "../../quickdoc"}
        #_{:git/sha "a9492689e60acb2d1afe8af9dcf22c062fbc7c20"}}

 :tasks
 {quickdoc {:doc "Invoke quickdoc"
            :requires ([quickdoc.api :as api])
            :task (api/quickdoc {:git/branch "master"
                                 :github/repo "https://github.com/babashka/process"
                                 :toc false})}
  test {:doc "Run tests"
        :task (shell "script/test")}}}
