{:deps {io.github.borkdude/quickdoc
        #_{:local/root "../../quickdoc"}
        {:git/url "https://github.com/borkdude/quickdoc"
         :git/sha "32e726cd6d785d00e49d4e614a05f7436d3831c0"}}

 :tasks
 {quickdoc {:doc "Invoke quickdoc"
            :requires ([quickdoc.api :as api])
            :task (api/quickdoc {:git/branch "master"
                                 :github/repo "https://github.com/babashka/process"
                                 :toc true
                                 :var-links true})}
  test {:doc "Run tests"
        :task (shell "script/test")}}}
